footer{
    background: $color-footer;
    padding: 2%;
    
    .footer{
        display: flex;
    }

    .logo-social{
        width: 20%;
    }

    .social{
        margin: 30px 0 0 0;
        img{
            &:first-child, 
            &:nth-child(2), 
            &:nth-child(3), 
            &:last-child{
                margin: 0 10px 0 0;
            }

            &:last-child{
                margin: 0 0 0 10px;
            }


        }
    }

    .link{
        display: flex;

        .first, .second{
            a{
                color: $link-btn-color;
                text-decoration: none;
                font-family: $my-font;
                display: block;

                &:first-child, &:nth-child(2){
                   margin: 0 0 10px 0;
                }
            }
        }

        .first{
            float: left;
            margin: 0 90px 0 0;
        }

        .second{
            float: right;
        }
        
    }

    .copyright{
        margin: 0 0 0 20%;

        .btn{
            text-decoration: none;
            margin: auto;
            font-family: $my-font;
            color: white;
            padding: 12px;
            border-radius: 40px;
            @include background(90deg, $first-color-btn, $second-color-btn);
        }

        p{
            margin: 40px 0 0 0;
            color: $navbar-copyright;
            font-family: $my-font;
        }
    }
}